* {
    background-color: gray;
}

ol {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    background-color: white;
}

a {
    background-color: white;
}

h1 {
    text-align: center;
}

.cicd {
    margin: 5px;
}

p {
    margin: 2px;
    padding: 3px;
    text-align: justify;
    font-size: 16px;
}