* {
    background-color: gray;
}

ol {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    background-color: white;
}

a {
    background-color: white;
}

.cicd {
    margin: 5px;
}